version: '3.8'

services:
  itmg-manager-frontend-node:
    build:
      context: docker/node
    volumes:
      - './:/var/www/html:rw'
    ports:
      - '5173:5173'
    working_dir: /var/www/html
    container_name: itmg-manager-frontend-node

  itmg-manager-frontend-nginx:
    image: nginx:alpine
    volumes:
      - './dist:/usr/share/nginx/html:rw'
      - './docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro'
    ports:
      - '8000:80'
    container_name: itmg-manager-frontend-nginx

networks:
  default:
    name: backend_default
    external: true